* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-size: 60%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 2rem;
    width: 90%;
    min-height: 10vh;
}

.nav-header {
    background-color: #131c27;
    position: sticky;
    top: 0px;
    color: white;
}

h1 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    flex: 1 1 40rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


li {
    font-size: 2rem;
}

.logo {
    font-weight: 400px;
    font-family: "Pattaya";
    flex: 2 1 40rem;
}

.s1 {
    background: linear-gradient( rgba(0,0,0,0.5), transparent), url("./img/landing-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 90vh;
}

.s1 h1 {
    font-size: 40px;
}
.s1 h2 {
    font-size: 30px;
}

.s1 h3 {
    padding: 5rem;
}

button {
    border: none;
    background-color: #4c6e97;
    font-size: 1.7rem;
    padding: 2rem 6rem;
    color: white;
    cursor: pointer;
}

.s2 {
    background-image: linear-gradient(rgba(0,0,0,0.5), transparent), url("./img/new-york-page.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.s2-header {
    color: white;
    margin: auto;
    width: 90%;
}

.s2-header h2 {
    padding: 1rem 0rem;
  text-decoration: underline;
  text-underline-offset: 2rem;
  text-decoration-thickness: 0,7rem;
}

.s2-header h3 {
    padding: 4rem 0rem;
}

h2 {
    font-size: 4.7rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal
}

.s3 {
    min-height: 100vh;
}

.s3-header {
    background-color: #131c27;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    min-height: 30vh;
}

h4 {
    font-size: 2.6rem;
}

h5 {
    font-size: 2.6rem;
}

p {
    font-size: 2rem;
}

.blokken {
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
    height: 70vh;
}

.blok {
    text-align: center;
    margin: 2rem 5rem;
    flex: 1 1 25rem;
    min-height: 40vh;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.1), 0px 20px 20px rgb(0,0,0,0.1);
}

.blok-naam {
    background-color: #131c27;
}

.blokken img {
    max-width: 15%;
    margin: 2rem;
}

.blok h4 {
    padding: 3rem;
    line-height: 1.8;
}

.blok p {
    padding: 3rem;
    line-height: 1.8;
}


.s4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("./img/contact-mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    border-radius: 20px;
    background-color: rgba(19,28,39,0.8);
    color: white;
    width: 60%;
}

.s4 button {
    width: 100%;
}


label {
    font-size: 2rem;
}

input {
    font-size: 2rem;
}

.form {
    background-color: rgba(19,28,39,0.8);
    width: 60%;
    border-radius: 20px;
    color: white;
}

.form-header {
    text-align: center;
    padding: 4rem;
}

.form-name {
    text-align: center;
    padding: 3rem;
}

.form-email {
    text-align: center;
    padding: 3rem;
}

footer {
    background-color: #131c27;
    color: white;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 2rem;
    width: 90%;
    min-height: 10vh;
}

footer h5 {
    flex: 1 1 40rem;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    flex: 1 1 40rem;
}

@media screen and (max-width: 932px) {
    html {
      font-size: 45%;
    }
    nav {
      text-align: center;
    }
    #logo {
      padding: 2rem;
    }
    .form-wrapper {
      width: 90%;
    }
    footer {
      text-align: center;
    }
    footer h5 {
      padding-bottom: 3rem ;
    }
  }